ansible/roles/haxorof.docker_ce
ansible/roles/andrewrothstein.bash
ansible/roles/andrewrothstein.docker-compose
ansible/roles/andrewrothstein.git
ansible/roles/andrewrothstein.alpine-glibc-shim
ansible/roles/sourcejedi.etckeeper

.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log
vagrant_variables.yml
